@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --darkbg: #141114;
    --smallfont: 'Sen', sans-serif;
    --headerfont: 'Roboto', sans-serif;
}
body {
    background-image: url("background.png");
}
.swipebox {
    display: flex;
}
#ct {
    vertical-align: middle;
}
.alignright {
    vertical-align: middle;
}
.trash {
    padding-top: 3px;
    width: 120px;
    display: block;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
}
.trash img{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.trash h4 {
    margin-top: 5px;
    color: rgb(230, 230, 230);
    margin-left: 3px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    animation: ease-in-out 1s;
    transition: transform;
    font-family: 'Montserrat', sans-serif;
}
.trash:hover {
    border: 1px solid rgba(242, 242, 242, 0.333);
    background-color: rgba(236, 236, 236, 0.257);
}
.taskbar {
    display: flex;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(93, 93, 93, 0.486);
    -webkit-box-shadow: 0 -1px 0 0 #00506b;
    box-shadow: -3px -3px 10px #000000a2, 3px 3px 7px;
    z-index: 1;
    border-top: 1px solid rgba(107, 107, 107, 0.411);
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.taskbar img {
    margin-left: 10px;
    width: 45px;
    border: 1px solid transparent;
    height: 44px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.taskbar img:hover {
    border-left: 1px solid rgba(49, 49, 49, 0.46);
    border-right: 1px solid rgba(49, 49, 49, 0.46);
    background-color: #c1c1c152;

}
.startmenu {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border: 1px solid transparent;
    position: absolute;
    bottom: 62px;
    display: flex;
    border-bottom: none;
    left: 0px;
    background: rgba(0, 0, 0, 0.43);
    box-shadow: -3px -3px 10px #000000a2, 3px 3px 7px rgba(147, 149, 151, 0.196);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.startmenu.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear;
}
  
.toolnav {
    margin-top: 10px;
    margin-left: 20px;
    width: 270px;
    height: 570px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
.toolnav h3 {
    border-radius: 3px;
    width: 270px;
    height: 20px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding: 5px;
    font-weight: 100;
    cursor: pointer;
    border: 1px solid transparent;
}
.toolnav h3:hover {
    background-color: rgba(203, 203, 203, 0.141);
}
.toolnav img {
    width: 140px;
    border: 10px solid rgba(193, 193, 193, 0.84);
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;

    margin-right: auto;
    box-shadow: -3px -3px 10px #a2a2a2a2, 3px 3px 7px rgba(147, 149, 151, 0.196);
}
.recent {
    width: 270px;
    background-color: rgba(255, 255, 255, 0.846);
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    height: 570px;
    border: 1px solid transparent;
    box-shadow: -3px -3px 10px #000000a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
}
.desktop {
    display: block;
    width: 20px !important;
    margin-left: auto;
    border-top: 1px solid transparent;
    border-left: 1px solid rgba(31, 31, 31, 0.411);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: -3px -3px 10px #000000a2, 3px 3px 7px;
    background-color: rgba(242, 242, 242, 0.083);
    cursor: pointer;
}
.desktop:hover {
    background-color: rgba(242, 242, 242, 0.255);
}
.start {
    margin-left: 0px !important;
}
.time {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    width: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    cursor: default;
}
.time p {
    font-size: 17px;
    color: white;
    font-family: 'Montserrat';
    margin: 0;
    line-height: 25px;
}
.content {
    margin-left: 10px;
    width: 240px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 3px;
    display: flex;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}
.content:hover {
    background-color: rgba(161, 161, 161, 0.452);
}
.content img {
    width: 45px;
    vertical-align: middle;
    height: 45px;
}
.content h3 {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 15px;
}
.searcharea {
    margin-top: 20px;
}
.searcharea input {
    width: 240px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 4px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    height: 40px;
    margin-left: 10px;
}
#firstchild {
    margin-top: 20px;
}
@media only screen and (max-width: 1600px) {
    body {
        background-image: url(background.png);
    }

}